/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Pacifico';
  color: white;
  animation: neon 5s infinite;
}

@keyframes neon {
  0%, 39%, 41%, 59%, 61%, 100% {
    text-shadow:
      0 0 24px #ff3aad,
      0 0 12px white;
  }
  40%, 60% {
    text-shadow: none;
  }
}

h2 {
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo i {
  font-size: 24px;
  margin-right: 5px;
}

nav {
  background-color: #777;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  animation: neon 5s infinite;
  font-size: 18px;
}

@keyframes neon {
  0%, 39%, 41%, 59%, 61%, 100% {
    text-shadow:
      0 0 24px #ff3aad,
     
      0 0 12px white;
  }
  40%, 60% {
    text-shadow: none;
  }
}

nav ul li a:hover {
  text-decoration: underline;
}

.cart {
  background-color: #ff5252;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50%;
  margin-left: 10px;
}

.cart-count {
  font-weight: bold;
}

main {
  margin: 20px;
}

/* Estilos para el carrito */
#carrito {
  margin-top: 1em;
}

/* Estilos para los productos */
.product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.product-info {
  width: 45%;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product-info img {
  width: 100%;
  height: auto;
}

.precio {
  font-weight: bold;
}

aside {
  background-color: #f4f4f4;
  padding: 1rem;
}

aside h2 {
  margin-bottom: 1rem;
}

#carrito {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

#carrito li {
  margin-bottom: 0.5rem;
}

.text-right {
  text-align: right;
  font-weight: bold;
}

#boton-vaciar {
  margin-top: 1rem;
  width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
